* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F7F7F7;
    font-family: brandongrotesque;
}
header {
    width: 100%; 
    height: 73px;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 25px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #F7F7F7;
}
.logo {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid #000000;
    margin: 10px 0;
}
ul {
    display: flex;
}
ul li {
    display: inline-block;
    padding: 15px;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 18px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.nav-logo:hover {
    border: none;
}
nav a:hover {
    color: #837e7e;
    border-bottom: 1.5px solid #000000;
}
.main-photo {
    width: 100%;
    height: 700px;
}
li:first-child:after {
    content: "";
    display: inline-block;
    width: 1.2px;
    height: 10px;
    background-color: #000000;
    margin-left: 15px;
}
li:nth-child(2):after {
    content: "";
    display: inline-block;
    width: 1.2px;
    height: 10px;
    background-color: #000000;
    margin-left: 15px;
}
li:nth-child(3):after {
    content: "";
    display: inline-block;
    width: 1.2px;
    height: 10px;
    background-color: #000000;
    margin-left: 15px;
}
/* finish header */
/* main title section */
.main-title {
    min-height: calc(100vh - 75px);
    background-color: #F7F7F7;
    position: relative;
    overflow: hidden;
}
.big-right-circle {
    background-color: #F7F7F7;
    border: 200px solid #000000;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position: absolute;
    right: -150px;
    top: 150px;
    opacity: 3%;
}
.equipe h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    padding: 1.5em 0 1em 5.5em;
    color: #262626;
}
.equipe p {
    font-family: tisa;
    font-size: 2rem;
    padding: 0.5em 0 1em 5.5em;
    color: #262626;
    line-height: 3.2rem;
}
.notre h2 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    padding: 48px 0 0 176px;
}
.notre p {
    font-family: tisa;
    font-size: 1.6rem;
    padding: 48px 0 0 176px;
    line-height: 3rem;
}
/* finish main-title */
/* equipe-photo section */
.equipe-photo {
    min-height: calc(100vh - 75px);
}
.equipe-photo .photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0 auto 0 auto;
}
.equipe-photo img {
    width: 200px;
    height: 220px;
    border-radius: 50%;
}
.employee {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100% / 3);
    height: 50%;
}
.employee h3 {
    margin: 35px 0 15px 0;
    font-size: 1rem;
    color: #262626;
    letter-spacing: 1.5px;
}
.employee p {
    font-size: 1rem;
    font-family: brandonlight;
    color: #262626;
    font-weight: bolder;
}
/* finish equipe-photo section */
/* emplois section */
.emplois {
    margin-top: 100px;
    min-height: calc(100vh - 75px);
}
.emplois-title h2 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    padding: 48px 0 0 176px;
    color: #262626;
}
.emplois-title p {
    font-family: tisa;
    font-size: 1.3rem;
    padding: 48px 0 0 176px;
    color: #434343;
    line-height: 2.5rem;
}
.emplois-email a {
    color: #434343;
}
.emplois-boxes {
    margin: 70px 176px ;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.emplois-box {
    width: calc(100% / 3 - 35px);
    height: 150px;
    background-color: #0865DE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 6px;
}
.emplois-box h3 {
    font-family: brandonlight;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 1.4px;
}
.emplois-box p {
    color: #002D69;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-top: 5px;
}
.box-button {
    display: flex;
    margin-top: 10px;
}
.box-button img {
    width: 25px;
    height: 25px;
    background-color: #F7F7F7;
    border-radius: 60%;
}
.box-button p {
    font-family: brandonlight;
    font-weight: bolder;
    font-size: 0.9rem;
    color: #FFFFFF;
    letter-spacing: 1.4px;
    margin-left: 20px;
}
/* finish emplois-section */
/* notreca section */
.notreca {
    min-height: 60vh;
    display: flex;
    position: relative;
}
.left-hidden-box {
    width: 50%;
}
.notreca-wrapper h2 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #262626;
}
.notreca-wrapper p {
    font-family: tisa;
    font-size: 1.45rem;
    margin-top: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 2.5rem;
}
.notreca-wrapper .small-p {
    font-family: tisa;
    font-size: 1.1rem;
    margin-top: 50px;
    font-weight: 100;
    letter-spacing: 1.1px;
    line-height: 2rem;
}
.small-p a {
    color: #262626;
}
.big-left-circle {
    background-color: #F7F7F7;
    border: 200px solid #000000;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position: absolute;
    left: -190px;
    top: -80px;
    opacity: 3%;
}
/* finish notreca section */
/* projets-recents section */
.projets-recents {
    min-height: 80vh;
}
.projets-recents h2 {
    margin: 100px 0 100px 20%; 
    font-size: 1rem;
    color: #000000;
}
.projets-wrapper {
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 50%;
}
.projets-box {
    width: calc(100% / 3 - 35px);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}
.projets-box img {
    width: 100%;
    height: 60%;
}
.projets-description img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.projets-description h3 {
    font-size: 1rem;
    font-family: tisa;
    margin: 25px 0 0 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
.projets-description .terre {
    font-size: 1rem;
    font-family: tisa;
    margin: 15px 0 0 30px;
    font-weight: 500;
}
.projets-description span {
    font-size: 0.7rem;
    font-family: tisa;
    margin: 20px 0 0 30px;
    opacity: 0.5;
}
.projets-box-button {
    display: flex;
    align-items: center;
    margin: 20px 0 0 30px;
}
.projets-box-button p {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: tisa;
    margin-left: 15px;
    font-weight: bold;
}
/* eye */
.eye-button {
    width: 180px;
    height: 50px;
    background-color: #FF7600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
}
.eye-button h3 {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-family: brandonlight;
    margin-left: 25px;
    text-align: center;
    letter-spacing: 1.5px;
}
.eye-button h3:before {
    content: "";
    display: flex;
    position: absolute;
    width: 1px;
    height: 40%;
    background-color: #FFFFFF;
    left: 60px;
}
.eye {
    width: 30px;
    height: 30px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65% 0 65% 0 ;
    transform: rotate(45deg);
}
.eye-circle {
    width: 17px;
    height: 17px;
    background-color: #FF7600;
    border-radius: 50%;
}
/* finish projets-recents section */
/* contacts section */
